.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    display: block;
    background-color: white;
    width: 80%;
    height: auto;
  
    font-family: "Poppins";
    padding: 30px;
    border-radius: 30px;
  }
  
  .title {
    margin: 0;
    font-size: 7vw;
  }
  
  .desc {
    font-size: 4vw;
    width: 100%;
  }
  
  .input {
    width: 95%;
    font-family: "Poppins";
    font-size: 3vw;
    height: 30vh;
    padding: 10px;
    margin: 15px 0;
    border-radius: 20px;
  }
  
  .submit {
    /* background-color: rgb(2, 152, 186);
    border-radius: 20px;
    font-size: 5vw;
    padding: 10px;
    width: 50%;
    color: white; */
    width: 99%;
    height: 6vh;
    font-size: 2vh;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    border-width: 0;
    border-radius: 20px;
    background-color: rgb(2, 152, 186);
    padding: 0;
  }
  .submit:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.2s;
    box-shadow: 0 6px 4px darkgray;
  }
  
  .submit_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
  }

  .close_wrapper {
    display: flex;
  }
  
  .close {
    margin-left: auto;
    width: 5vw;
  }