@import url("https://fonts.googleapis.com/css?family=Poppins");

.tasks_div {
    border-bottom: 3px solid black;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 4vw;
    display: flex;
    justify-content: flex-end;
  }

.taskName {
  font-family: "Poppins";
  font-style: normal;
  font-size: 5vw;
  font-weight: 500;
  margin: 0;
}

.taskDate {
  font-family: "Poppins";
  font-weight:400;
  font-size: 4vw;
  color: #8B5674;
  margin: 0;
}

.childName {
  font-family: "Poppins";
  font-weight:400;
  font-size: 3vw;
  color: #8B5674;
  margin: 0;
  margin-right: auto;
}