@import url('https://fonts.googleapis.com/css?family=Poppins');

.page {
    height: 97vh;
    width: 100%;
    display: flex;
}

.page.mobile {
    height: 97vh;
    min-height: 97vh;
    margin: 0;
    width: 100%;
    display: flex;
}

.main {
    flex-grow: 1;
    height: 100%;
}

.main:not(.mobile) {
    min-width: 500px;
}

.main.mobile {
    max-width: 400px;
}

.container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 70px 40px 80px 40px;
}

.container.mobile {
    padding: 30px 10px 30px 20px;
}

.caption {
    margin-bottom: 40px;
    text-align: center;
}

.block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 27px 19px;
    position: relative;
    max-width: 100%;
}