@value font from "../../index.module.css";

.font {
    font-family: 'Poppins', sans-serif;
}

.caption {
    width: 100%;
    height: fit-content;
    font-size: 36px;
    font-weight: 700;
}

.caption.mobile {
    font-size: 25px;
}