@import url('https://fonts.googleapis.com/css?family=Poppins');

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 70px 40px 80px 40px;
}
.container.mobile {
    width: 100%;
    padding: 2vw 2vw 2vw 2vw;
}
.text_div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
.text_div.first {
    margin-top: 10vw;
}
.text_div.second {
    margin-top: 3vw;
}
.welcome {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 7vw;
    margin: auto;
    display: inline-block;
    color: #A8A8A8;
}

.welcome.family {
    color: black;
    font-weight: 900;
}

.cruising {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 5vw;
    margin: auto;
    display: inline-block;
    color: #A8A8A8;
}

.cruising.color {
    color: #E3D150;
    font-weight: 900;
}

.link_div {
    text-align: center;
    margin-top: 8vw;
    margin-bottom: 2vw;
}

.link {
    font-family: 'Poppins';
    display: block;
    color: #0198BA;
    font-size: 3vw;
    font-weight: 400;
}