.upcomingWrapper {
    margin: 4vw;
    padding: 4vw;
    background-color: rgba(1, 152, 186, 0.15);
    border-radius: 16px;
}

.title{
    font-family: "Poppins";
    font-style: normal;
    font-size: 5vw;
    font-weight: 500;
    margin: 0;
    color: #000000;
}

.time{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    color: #8B5674;
    margin: 2;
    /* identical to box height */


    color: #0198BA;
}

.content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.7vw;
    color: #8B5674;
    margin: 2;

    color: #818181;
}

.upcomingIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}