
@value font from "../../index.module.css";

.button {
    width: 100%;
    height: 55px;
    background-color: #0198BA;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.button.mobile {
    width: 100%;
    height: 15vw;
    background-color: #0198BA;
    color: white;
    font-family: "Poppins";
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    cursor: pointer;
}